* {
  padding: 0;
  margin: 0;
}
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#game {
  width: 1800px;
  height: 800px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  margin: auto;
}
#character {
  width: 200px;
  height: 500px;
  background-image: url(/img/kräuter.png);
  background-repeat: no-repeat;
  position: relative;
  top: 300px;
}
.animate {
  animation: jump 500ms;
}
@keyframes jump {
  0% {
    top: 170px;
  }
  30% {
    top: 50px;
  }
  70% {
    top: 50px;
  }
  75% {
    top: 60px;
  }
  80% {
    top: 75px;
  }
  85% {
    top: 90px;
  }
  90% {
    top: 110px;
  }
  95% {
    top: 125px;
  }
  100% {
    top: 180px;
  }
}
#block {
  width: 200px;
  height: 200px;
  background-image: url(/img/masse.jpg);
  background-repeat: no-repeat;
  position: relative;
  top: 100px;
  left: 1400px;
  animation: block 0.7s infinite linear;
}
@keyframes block {
  0% {
    left: 1600px;
  }
  100% {
    left: -20px;
  }
}
p {
  position: absolute;
  top: 17%;
  right: 5%;
  font-size: 40px;
  background-color: transparent;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0px 3px 5px 2px black;
  text-align: center;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
}
